name: Black Format Check

on:
  push:
    branches:
      - main
    pull_request:
      - main
  workflow_dispatch:

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Check code formatting
      run: black --check .
